@keyframes backgroundAnimation {
  from {
    background-position: -100% 0, 0 0;
  }
  to {
    background-position: 200% 0, 0 0;
  }
}

.bigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: calc(var(--gridColumn, 1rem) * 1) calc(var(--gridColumn, 1rem) * 0.8);
  margin-bottom: calc(var(--gridColumn, 1rem) * 0.8);

  &__bgImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 50% 0%, 0;

    animation-name: backgroundAnimation;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__content {
    p {
      font-size: 16px;
      color: var(--twine);
      margin: 0;
    }

    span {
      color: var(--mine-shaft);
    }

    img {
      width: 100%;
    }
  }

  &__text {
    text-align: left;
  }
}

@media (min-width: '768px') {
  .bigCard {
    width: 45%;
    height: 91vh;
    padding: calc(var(--gridColumn, 1rem) * 0.8)
      calc(var(--gridColumn, 1rem) * 0.5);
    margin-right: calc(var(--gridColumn, 1rem) * 0.5);
  }
}

@media (min-width: '1024px') {
  .bigCard {
    height: 100vh;

    img {
      width: 70%;
    }
  }
}
