.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: calc(var(--gridColumn, 1rem) * 0.3);
  width: calc(var(--gridColumn, 1rem) * 5);
  height: var(--btnHeight);
  background: #2b2b2b;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border: none;

  &--outlined {
    background: transparent;
    border: 1px solid #000000;
    color: #2b2b2b;
  }

  &--desktopOnly {
    display: none;
  }

  &:hover {
    background-color: #7a7a7a;
  }

  &:disabled {
    background-color: #e8e8e8;
    color: #bcbcbc;
  }
}

@media (min-width: '768px') {
  .button {
    margin: calc(var(--gridColumn, 1rem) * 0.3) 0;

    &--desktopOnly {
      display: block;
    }
  }
}
