.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: calc(var(--gridColumn, 1rem) * 0.3);
  width: calc(var(--gridColumn, 1rem) * 5);
  height: var(--btnHeight);
  background: var(--mine-shaft);
  border-radius: 20px;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  border: none;

  &--outlined {
    background: transparent;
    border: 1px solid var(--black);
    color: var(--mine-shaft);
  }

  &--desktopOnly {
    display: none;
  }

  &:hover {
    background-color: var(--boulder);
  }

  &:disabled {
    background-color: var(--mercury);
    color: var(--silver);
  }
}

@media (min-width: '768px') {
  .button {
    &--desktopOnly {
      display: block;
    }
  }
}
