.himCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  height: 25vh;
  background-size: contain;
  background-position-x: -70px;
  background-repeat: no-repeat;
  margin-bottom: calc(var(--gridColumn, 1rem) * 0.8);

  &__content {
    position: absolute;
    text-align: left;
    right: 50px;

    h1 {
      font-size: 32px;
      margin-bottom: 0;
      font-weight: 500;

      &::after {
        content: '\00a0';
      }
    }

    span {
      font-size: 32px;
      font-weight: 300;
    }
  }

  &__button {
    position: absolute;
    top: 140px;
  }
}

@media (min-width: '768px') {
  .himCard {
    height: 32vh;
    margin-bottom: calc(var(--gridColumn, 1rem) * 0.5);
  }
}

@media (min-width: '1024px') {
  .himCard {
    height: 35vh;

    &__content {
      display: flex;
      align-items: center;
      top: 100px;

      h1 {
        margin: 0;
      }
    }

    &__button {
      top: auto;
      bottom: 32px;
      right: 32px;
    }
  }
}
