.himCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  position: relative;
  height: 25vh;
  background-size: contain;
  background-position-x: -70px;
  background-repeat: no-repeat;
  margin-bottom: calc(var(--gridColumn, 1rem) * 0.8);

  &:last-child {
    margin-bottom: calc(var(--gridColumn, 1rem) * 3);
  }

  &__content {
    position: absolute;
    text-align: left;
    top: 5%;
    bottom: auto;
    right: 15%;
    left: auto;

    h1 {
      font-size: 32px;
      margin-bottom: 0;
      font-weight: 500;

      &::after {
        content: '\00a0';
      }
    }

    span {
      font-size: 32px;
      font-weight: 300;
    }
  }

  &__button {
    position: absolute;
    top: auto;
    bottom: 5%;
  }
}

@media (min-width: '768px') {
  .himCard {
    height: 32vh;
    margin-bottom: calc(var(--gridColumn, 1rem) * 0.5);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: '1024px') {
  .himCard {
    height: 35vh;

    &__content {
      display: flex;
      align-items: center;
      bottom: 40%;

      h1 {
        margin: 0;
      }
    }

    &__button {
      right: 5%;
      left: auto;
    }
  }
}
