.mainPage {
  color: var(--mine-shaft);
  padding: 0 calc(var(--gridColumn, 1rem) * 0.8)
    calc(var(--gridColumn, 1rem) * 0.8);

  &__mobileSubtitle {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    margin-top: 0;

    span {
      color: var(--ship-cove);
      font-weight: 500;
    }
  }
}

@media (min-width: '768px') {
  .mainPage {
    &__cardContainer {
      display: flex;
      padding: calc(var(--gridColumn, 1rem) * 2) 0;
    }

    &__cardContent {
      width: 65%;
    }

    &__mobileSubtitle {
      display: none;
    }
  }
}
