.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--gridColumn, 1rem) * 0.3) 0;

  &__text {
    width: 162px;
    display: flex;
    align-items: center;
  }

  &__language {
    display: none;
  }

  &__menuIcon {
    background-color: transparent;
    border: none;
  }
}

@media (min-width: '768px') {
  .header {
    &__text {
      width: auto;
    }

    &__languageMenu {
      display: flex;
      align-items: center;
    }

    &__language {
      display: block;
      padding-right: calc(var(--gridColumn, 1rem) * 0.5);
    }
  }
}
