.footer {
  font-weight: 500;

  &__signUpContainer {
    display: flex;
  }

  &__social {
    display: flex;
    justify-content: space-evenly;
    padding: 32px 0;
  }

  &__mobile {
    margin: 0 calc(var(--gridColumn, 1rem) * -0.8);
  }

  &__desktop {
    display: none;
  }

  &__button {
    width: 100%;
  }

  &__polices {
    text-align: left;
    color: var(--nevada);
    padding-top: calc(var(--gridColumn, 1rem) * 0.5);

    p {
      font-weight: 400;
      padding-top: calc(var(--gridColumn, 1rem) * 1);
    }

    img {
      height: 68px;
      padding: calc(var(--gridColumn, 1rem) * 2) 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  &__policesLink {
    padding-top: calc(var(--gridColumn, 1rem) * 0.5);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .footer {
    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__signUpContainer {
      display: block;
      width: calc(var(--gridColumn, 1rem) * 5);
    }

    &__mobile {
      display: none;
    }

    &__desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: calc(var(--gridColumn, 1rem) * 1);
      text-align: left;

      ul {
        list-style-type: none;
        padding-inline-start: 0;

        li {
          padding: calc(var(--gridColumn, 1rem) * 0.1);
        }
      }

      ul.footer__subList {
        padding-inline-start: calc(var(--gridColumn, 1rem) * 0.3);
        text-align: left;
        border-left: 1px solid var(--black-haze);
        color: var(--nevada);
      }
    }

    &__listSubtitle {
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
      font-size: 20px;
    }

    &__polices {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        padding-top: calc(var(--gridColumn, 1rem) * 0.3);
      }

      img {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: auto;
      }
    }

    &__policesLinkContainer {
      display: flex;
    }

    &__policesLink {
      padding-right: calc(var(--gridColumn, 1rem) * 0.3);
    }
  }
}
