.footer {
  &__SignUpContainer {
    display: flex;
  }

  &__social {
    display: flex;
    justify-content: space-evenly;
    padding: 32px 0;
  }

  &__desktop {
    display: none;
  }

  &__button {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__signUpContainer {
      display: block;
      width: calc(var(--gridColumn, 1rem) * 5);
    }

    &__mobile {
      display: none;
    }

    &__desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: calc(var(--gridColumn, 1rem) * 1);
      text-align: left;

      ul {
        list-style-type: none;
        padding-inline-start: 0;
      }

      ul.footer__subList {
        padding-inline-start: calc(var(--gridColumn, 1rem) * 0.3);
        text-align: left;
        border-left: 1px solid #f5f6f6;
      }
    }

    &__listSubtitle {
      display: list-item;
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
