.accordion {
  text-align: left;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding: calc(var(--gridColumn, 1rem) * 0.8);
    border-bottom: 1px solid var(--iron);

    img {
      filter: brightness(0) invert(0);
    }

    &:hover {
      background-color: var(--mine-shaft);
      color: var(--white);

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--gridColumn, 1rem) * 0.8);
    font-weight: 500;
    color: var(--nevada);

    &:last-child {
      border-bottom: 1px solid var(--iron);
    }
  }

  &:first-child {
    .accordion__title {
      border-top: 1px solid var(--iron);
    }
  }
}
